https://www.datacamp.com/community/tutorials/recommender-systems-python

In [59]:
import pandas as pd
dir = !kaggle datasets download -d sootersaalu/amazon-top-50-bestselling-books-2009-2019

In [55]:
# using the code below to unzip a file in case if you need to do so.
#import zipfile
#with zipfile.ZipFile("file.zip","r") as zip_ref:
#   zip_ref.extractall("targetdir")

In [60]:
df =pd.read_csv('dir/bestsellers with categories.csv')

In [90]:
df.head(10)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643,11,2011,Fiction
6,A Game of Thrones / A Clash of Kings / A Storm...,George R. R. Martin,4.7,19735,30,2014,Fiction
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699,15,2017,Fiction
8,"A Higher Loyalty: Truth, Lies, and Leadership",James Comey,4.7,5983,3,2018,Non Fiction
9,A Man Called Ove: A Novel,Fredrik Backman,4.6,23848,8,2016,Fiction

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         550 non-null    object
 1   Author       550 non-null    object
 2   User Rating  550 non-null    float64
 3   Reviews      550 non-null    int64
 4   Price        550 non-null    int64
 5   Year         550 non-null    int64
 6   Genre        550 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 30.2+ KB

In [66]:
df['Genre'].unique()

array(['Non Fiction', 'Fiction'], dtype=object)

In [85]:
# There are 248 authors
authors = df['Author']
authors.head()

0                    JJ Smith
1                Stephen King
2          Jordan B. Peterson
3               George Orwell
4    National Geographic Kids
Name: Author, dtype: object

In [92]:
# top 50 authors with the most books
top_50 = df['Author'].value_counts().head(50)

In [101]:
# Selecting authors with at least 5 written books
top_50[top_50 > 4]

Jeff Kinney                           12
Rick Riordan                          11
Suzanne Collins                       11
Gary Chapman                          11
American Psychological Association    10
Gallup                                 9
Dr. Seuss                              9
Rob Elliott                            8
Stephenie Meyer                        7
Eric Carle                             7
Dav Pilkey                             7
Bill O'Reilly                          7
Stephen R. Covey                       7
Harper Lee                             6
E L James                              6
Sarah Young                            6
The College Board                      6
Don Miguel Ruiz                        6
Stieg Larsson                          6
J.K. Rowling                           6
R. J. Palacio                          5
Roger Priddy                           5
Dale Carnegie                          5
John Green                             5
John Grisham                           5
Patrick Lencioni                       5
Giles Andreae                          5
Laura Hillenbrand                      5
Name: Author, dtype: int64

In [105]:
df[df['Author'] == 'Jeff Kinney']['User Rating']

42     4.8
71     4.8
72     4.8
73     4.8
80     4.8
88     4.8
253    4.8
381    4.8
435    4.8
468    4.7
474    4.8
545    4.9
Name: User Rating, dtype: float64

In [111]:
df[df['Author'] == 'Rick Riordan']['User Rating'].mean()

4.7727272727272725

In [113]:
def auther_mean_rating(name):
    mean = df[df['Author'] == name]['User Rating'].mean()
    return mean

In [115]:
auther_mean_rating('Suzanne Collins')

4.663636363636364