In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel('UUCF Assignment Spreadsheet.xls')

In [186]:
df.columns

Index([         1648,          5136,           918,          2824,
                3867,           860,          3712,          2968,
                3525,          4323,          3617,          4360,
                2756,            89,           442,          3556,
                5261,          2492,          5062,          2486,
                4942,          2267,          4809,          3853,
                2288,    'Movie_Id', 'Movie_title'],
      dtype='object')

In [183]:
movie_id = []
movie_title = []
for title in df['Unnamed: 0']:
    tit = title.split(':')
    movie_id.append(tit[0])
    movie_title.append(tit[1])

KeyError: 'Unnamed: 0'

In [184]:
df['Movie_Id'] = movie_id
df['Movie_title'] = movie_title

ValueError: Length of values (0) does not match length of index (100)

In [185]:
df.drop(columns = 'Unnamed: 0', inplace = True)

KeyError: "['Unnamed: 0'] not found in axis"

In [187]:
df.head()

,1648,5136,918,2824,3867,860,3712,2968,3525,4323,...,2492,5062,2486,4942,2267,4809,3853,2288,Movie_Id,Movie_title
0,NaN,4.5,5.0,4.5,4.0,4.0,NaN,5.0,4.0,5.0,...,4.5,4.0,3.5,NaN,NaN,NaN,NaN,NaN,11,Star Wars
1,NaN,5.0,5.0,NaN,4.0,4.0,4.5,4.5,4.0,5.0,...,3.5,4.0,2.0,3.5,NaN,NaN,NaN,3.5,12,Finding Nemo (2003)
2,NaN,5.0,4.5,5.0,4.5,4.5,NaN,5.0,4.5,5.0,...,3.5,4.5,4.5,4.0,3.5,4.5,3.5,3.5,13,Forrest Gump (1994)
3,NaN,4.0,NaN,NaN,NaN,NaN,4.5,2.0,3.5,5.0,...,3.5,4.5,3.5,4.0,NaN,3.5,NaN,NaN,14,American Beauty (1999)
4,4.0,5.0,3.0,4.5,4.0,2.5,NaN,5.0,3.0,4.0,...,4.0,4.0,2.5,3.5,NaN,5.0,NaN,3.5,22,Pirates of the Caribbean

In [188]:
df1 = df.corr()
df1.head()

,1648,5136,918,2824,3867,860,3712,2968,3525,4323,...,3556,5261,2492,5062,2486,4942,2267,4809,3853,2288
1648,1.000000,0.402980,-0.142206,0.517620,0.300200,0.480537,-0.312412,0.383348,0.092775,0.098191,...,-0.191988,0.493008,0.360644,0.551089,0.002544,0.116653,-0.429183,0.394371,-0.304422,0.245048
5136,0.402980,1.000000,0.118979,0.057916,0.341734,0.241377,0.131398,0.206695,0.360056,0.033642,...,0.488607,0.328120,0.422236,0.226635,0.305803,0.037769,0.240728,0.411676,0.189234,0.390067
918,-0.142206,0.118979,1.000000,-0.317063,0.294558,0.468333,0.092037,-0.045854,0.367568,-0.035394,...,0.373226,0.470972,0.069956,-0.054762,0.133812,0.015169,-0.273096,0.082528,0.667168,0.119162
2824,0.517620,0.057916,-0.317063,1.000000,-0.060913,-0.008066,0.462910,0.214760,0.169907,0.119350,...,-0.201275,0.228341,0.238700,0.259660,0.247097,0.149247,-0.361466,0.474974,-0.262073,0.166999
3867,0.300200,0.341734,0.294558,-0.060913,1.000000,0.282497,0.400275,0.264249,0.125193,-0.333602,...,0.174085,0.297977,0.476683,0.293868,0.438992,-0.162818,-0.295966,0.054518,0.464110,0.379856

In [189]:
top5_neigbors =df1[3867].sort_values(ascending = False).head(6)
top5_neigbors

3867    1.000000
2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64

In [190]:
df1[3867].mean()

0.19979709725425232

In [191]:
df_nei = df[[2492,3853,2486,3712,2288,'Movie_Id', 'Movie_title']]

In [192]:
# score = sum(Rn*Wo)/sum(Wo)

df_neighbor = df_nei.fillna(0)

In [193]:
df_neighbor.head()

   2492  3853  2486  3712  2288 Movie_Id                Movie_title
0   4.5   0.0   3.5   0.0   0.0       11                  Star Wars
1   3.5   0.0   2.0   4.5   3.5       12        Finding Nemo (2003)
2   3.5   3.5   4.5   0.0   3.5       13        Forrest Gump (1994)
3   3.5   0.0   3.5   4.5   0.0       14     American Beauty (1999)
4   4.0   0.0   2.5   0.0   3.5       22   Pirates of the Caribbean

In [194]:
weight = []
for rate in top5_neigbors:
    weight.append(rate)

In [195]:
weight

[1.0,
 0.4766832805451799,
 0.46411014776485643,
 0.4389915544146359,
 0.4002745042538168,
 0.37985626502293035]

In [196]:
weight.remove(1)

In [197]:
sum(weight)

2.159915752001419

In [198]:
weight_X_rating = df_neighbor[[2492,3853,2486,3712,2288]]*weight
weight_X_rating.head()

       2492      3853      2486      3712      2288
0  2.145075  0.000000  1.536470  0.000000  0.000000
1  1.668391  0.000000  0.877983  1.801235  1.329497
2  1.668391  1.624386  1.975462  0.000000  1.329497
3  1.668391  0.000000  1.536470  1.801235  0.000000
4  1.906733  0.000000  1.097479  0.000000  1.329497

In [199]:
sum(weight_X_rating.iloc[0])/sum(weight)

1.7044855566672659

In [200]:
def average_weight(df):
    score = []
    for i in range(100):
        score.append(sum(df.iloc[i])/sum(weight))
    return score

In [204]:
df_neighbor['Score'] = average_weight(weight_X_rating)
#df_neighbor[df_neighbor['Movie_Id'] == '641' ]
df_neighbor.groupby('Score')[[2492,3853,2486,3712,2288,'Movie_Id','Movie_title', 'Score']].sort_values(ascending = False)

AttributeError: 'DataFrameGroupBy' object has no attribute 'sort_values'

In [126]:
pred = (mean2824*weight[0]+ mean3867*weight[1] + mean5062*weight[2] + mean442*weight[3] + mean3853*weight[4])/sum(weight)

In [127]:
pred

2.042091826844579

In [118]:
def weighted_average_m1(df_nei_fillna, weights):
  
    numerator = sum([df_nei_fillna[i]*weights[i] for i in range(len(df_nei_fillna))])
    denominator = sum(weights)
    
    return round(numerator/denominator,2)

In [119]:
score = weighted_average_m1(df_nei_fillna, weight)

KeyError: 0

In [106]:
scores = []
for rate in df_nei_fillna[2824]:
    scores.append(weight[0]*rate)

In [107]:
weight[0]

0.46291004988627577

In [108]:
scores

[2.083095224488241,
 0.0,
 2.3145502494313788,
 0.0,
 2.083095224488241,
 1.851640199545103,
 0.0,
 0.0,
 2.3145502494313788,
 0.0,
 2.3145502494313788,
 0.0,
 2.3145502494313788,
 0.0,
 1.851640199545103,
 1.851640199545103,
 1.851640199545103,
 0.0,
 0.0,
 0.0,
 0.0,
 2.3145502494313788,
 0.0,
 2.083095224488241,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.851640199545103,
 0.0,
 0.0,
 2.3145502494313788,
 0.0,
 0.0,
 1.851640199545103,
 0.0,
 0.0,
 1.851640199545103,
 0.0,
 1.620185174601965,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 2.3145502494313788,
 2.3145502494313788,
 1.3887301496588274,
 0.0,
 1.3887301496588274,
 0.0,
 0.0,
 1.851640199545103,
 1.3887301496588274,
 1.3887301496588274,
 0.0,
 1.851640199545103,
 0.0,
 0.0,
 1.851640199545103,
 1.3887301496588274,
 1.851640199545103,
 1.1572751247156894,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.620185174601965,
 0.0,
 0.0,
 0.0,
 1.851640199545103,
 2.083095224488241,
 1.851640199545103,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.620185174601965,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0]