In [99]:
import numpy as np
import pandas as pd

In [100]:
df = pd.read_excel('UUCF Assignment Spreadsheet.xls')

In [101]:
df.columns

Index(['Unnamed: 0',         1648,         5136,          918,         2824,
               3867,          860,         3712,         2968,         3525,
               4323,         3617,         4360,         2756,           89,
                442,         3556,         5261,         2492,         5062,
               2486,         4942,         2267,         4809,         3853,
               2288],
      dtype='object')

In [102]:
movie_id = []
movie_title = []
for title in df['Unnamed: 0']:
    t = title.split(':')
    movie_id.append(t[0])
    movie_title.append(t[1])

In [103]:
df['Movie_Id'] = movie_id
df['Movie_title'] = movie_title

In [104]:
df.drop(columns = 'Unnamed: 0', inplace = True)

In [105]:
df.head()

,1648,5136,918,2824,3867,860,3712,2968,3525,4323,...,2492,5062,2486,4942,2267,4809,3853,2288,Movie_Id,Movie_title
0,NaN,4.5,5.0,4.5,4.0,4.0,NaN,5.0,4.0,5.0,...,4.5,4.0,3.5,NaN,NaN,NaN,NaN,NaN,11,Star Wars
1,NaN,5.0,5.0,NaN,4.0,4.0,4.5,4.5,4.0,5.0,...,3.5,4.0,2.0,3.5,NaN,NaN,NaN,3.5,12,Finding Nemo (2003)
2,NaN,5.0,4.5,5.0,4.5,4.5,NaN,5.0,4.5,5.0,...,3.5,4.5,4.5,4.0,3.5,4.5,3.5,3.5,13,Forrest Gump (1994)
3,NaN,4.0,NaN,NaN,NaN,NaN,4.5,2.0,3.5,5.0,...,3.5,4.5,3.5,4.0,NaN,3.5,NaN,NaN,14,American Beauty (1999)
4,4.0,5.0,3.0,4.5,4.0,2.5,NaN,5.0,3.0,4.0,...,4.0,4.0,2.5,3.5,NaN,5.0,NaN,3.5,22,Pirates of the Caribbean

In [106]:
df['Movie_Id']=df['Movie_Id'].astype('int')

In [107]:
df.dtypes

1648           float64
5136           float64
918            float64
2824           float64
3867           float64
860            float64
3712           float64
2968           float64
3525           float64
4323           float64
3617           float64
4360           float64
2756           float64
89             float64
442            float64
3556           float64
5261           float64
2492           float64
5062           float64
2486           float64
4942           float64
2267           float64
4809           float64
3853           float64
2288           float64
Movie_Id         int32
Movie_title     object
dtype: object

In [108]:
df[df['Movie_Id'] == 22]

,1648,5136,918,2824,3867,860,3712,2968,3525,4323,...,2492,5062,2486,4942,2267,4809,3853,2288,Movie_Id,Movie_title
4,4.0,5.0,3.0,4.5,4.0,2.5,NaN,5.0,3.0,4.0,...,4.0,4.0,2.5,3.5,NaN,5.0,NaN,3.5,22,Pirates of the Caribbean

In [109]:
df1 = df.corr()
df1.head()

,1648,5136,918,2824,3867,860,3712,2968,3525,4323,...,5261,2492,5062,2486,4942,2267,4809,3853,2288,Movie_Id
1648,1.000000,0.402980,-0.142206,0.517620,0.300200,0.480537,-0.312412,0.383348,0.092775,0.098191,...,0.493008,0.360644,0.551089,0.002544,0.116653,-0.429183,0.394371,-0.304422,0.245048,0.009657
5136,0.402980,1.000000,0.118979,0.057916,0.341734,0.241377,0.131398,0.206695,0.360056,0.033642,...,0.328120,0.422236,0.226635,0.305803,0.037769,0.240728,0.411676,0.189234,0.390067,-0.074828
918,-0.142206,0.118979,1.000000,-0.317063,0.294558,0.468333,0.092037,-0.045854,0.367568,-0.035394,...,0.470972,0.069956,-0.054762,0.133812,0.015169,-0.273096,0.082528,0.667168,0.119162,-0.231128
2824,0.517620,0.057916,-0.317063,1.000000,-0.060913,-0.008066,0.462910,0.214760,0.169907,0.119350,...,0.228341,0.238700,0.259660,0.247097,0.149247,-0.361466,0.474974,-0.262073,0.166999,-0.244501
3867,0.300200,0.341734,0.294558,-0.060913,1.000000,0.282497,0.400275,0.264249,0.125193,-0.333602,...,0.297977,0.476683,0.293868,0.438992,-0.162818,-0.295966,0.054518,0.464110,0.379856,-0.108165

In [110]:
weight =df1[3867].sort_values(ascending = False).head(6) 
weight.drop(3867, inplace = True)
weight

2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64

In [111]:
df_neighbor = df[[2492,3853,2486,3712,2288,'Movie_Id', 'Movie_title']]
df_neighbor

    2492  3853  2486  3712  2288  Movie_Id                   Movie_title
0    4.5   NaN   3.5   NaN   NaN        11                     Star Wars
1    3.5   NaN   2.0   4.5   3.5        12           Finding Nemo (2003)
2    3.5   3.5   4.5   NaN   3.5        13           Forrest Gump (1994)
3    3.5   NaN   3.5   4.5   NaN        14        American Beauty (1999)
4    4.0   NaN   2.5   NaN   3.5        22      Pirates of the Caribbean
..   ...   ...   ...   ...   ...       ...                           ...
95   5.0   NaN   3.0   4.5   3.5      9806        The Incredibles (2004)
96   4.0   NaN   2.5   NaN   NaN     10020   Beauty and the Beast (1991)
97   3.0   3.0   3.5   4.5   4.0     36657                  X-Men (2000)
98   2.0   NaN   3.0   4.5   4.0     36658                            X2
99   4.0   NaN   1.5   4.0   NaN     36955              True Lies (1994)

[100 rows x 7 columns]

In [112]:
df_neighbor_rates= df_neighbor[[2492,3853,2486,3712,2288]]

In [113]:
# score = sum(Rn*Wo)/sum(Wo)

In [114]:
df_neighbor.fillna(0, inplace = True)

C:\Users\alina\anaconda3\lib\site-packages\pandas\core\frame.py:4462: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [115]:
df_neighbor_rates= df_neighbor[[2492,3853,2486,3712,2288]]
df_neighbor_rates.fillna(0, inplace = True)

In [116]:
df_neighbor_rates.iloc[99]

2492    4.0
3853    0.0
2486    1.5
3712    4.0
2288    0.0
Name: 99, dtype: float64

In [117]:
df_neighbor_rates.iloc[0][2492]

4.5

In [118]:
column_name = df_neighbor_rates.columns.tolist()

In [119]:
weight[2492] + weight[2486]

0.9156748349598158

In [120]:
sum_weight = []
for j in range(100):
    row = df_neighbor_rates.iloc[j]
    row_weight = []
    for i in column_name:  
        if row[i] != 0:
            row_weight.append(weight[i])
    sum_weight.append(pd.Series(row_weight).sum())

In [121]:
def average_score(data):
    score= []
    for row in range(100):
        score.append((df_neighbor_rates.iloc[row]*weight).sum()/sum_weight[row])
    return score

In [122]:
df_neighbor['Final_Score'] = average_score(df_neighbor_rates)

<ipython-input-122-d7c119474917>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_neighbor['Final_Score'] = average_score(df_neighbor_rates)

In [123]:
df_neighbor.head()

,2492,3853,2486,3712,2288,Movie_Id,Movie_title,Final_Score
0,4.5,0.0,3.5,0.0,0.0,11,Star Wars,4.020581
1,3.5,0.0,2.0,4.5,3.5,12,Finding Nemo (2003),3.347734
2,3.5,3.5,4.5,0.0,3.5,13,Forrest Gump (1994),3.749478
3,3.5,0.0,3.5,4.5,0.0,14,American Beauty (1999),3.804172
4,4.0,0.0,2.5,0.0,3.5,22,Pirates of the Caribbean,3.345121

In [124]:
df_neighbor.sort_values(by = 'Final_Score', ascending = False).head(10)

,2492,3853,2486,3712,2288,Movie_Id,Movie_title,Final_Score
77,5.0,0.0,4.5,0.0,0.0,1891,Star Wars,4.760291
21,5.0,5.0,4.5,0.0,3.5,155,The Dark Knight (2008),4.551454
16,5.0,4.0,4.5,5.0,4.0,122,The Lord of the Rings,4.507637
8,4.0,4.5,4.5,0.0,5.0,77,Memento (2000),4.472487
15,4.0,5.0,4.0,5.0,4.0,121,The Lord of the Rings,4.400194
50,4.0,4.5,4.5,5.0,4.0,603,The Matrix (1999),4.394379
46,4.0,0.0,3.5,5.0,5.0,585,Monsters Inc. (2001),4.330601
64,0.0,4.0,4.5,0.0,4.5,807,Seven (a.k.a. Se7en) (1995),4.319125
14,3.5,5.0,4.0,5.0,4.0,120,The Lord of the Rings,4.289846
27,0.0,5.0,3.0,4.0,5.0,238,The Godfather (1972),4.240594

In [125]:
df[[3867, 'Movie_title']].sort_values(by = 3867, ascending = False).head(20)

    3867                                        Movie_title
74   5.0                                           Die Hard
14   5.0                              The Lord of the Rings
50   5.0                                  The Matrix (1999)
59   5.0                                Pulp Fiction (1994)
16   5.0                              The Lord of the Rings
15   5.0                              The Lord of the Rings
21   5.0                             The Dark Knight (2008)
61   5.0                              V for Vendetta (2006)
65   5.0                                       Shrek (2001)
9    4.5   Raiders of the Lost Ark (Indiana Jones and th...
77   4.5                                          Star Wars
41   4.5                                  Fight Club (1999)
58   4.5     Harry Potter and the Chamber of Secrets (2002)
2    4.5                                Forrest Gump (1994)
60   4.0                             The Sixth Sense (1999)
57   4.0   Harry Potter and the Sorcerer's Stone (a.k.a....
54   4.0                         Catch Me If You Can (2002)
52   4.0                   Men in Black (a.k.a. MIB) (1997)
1    4.0                                Finding Nemo (2003)
78   4.0                                          Star Wars

# Top Recommendation Movies for user 3712 without normalization

In [126]:
df1.head() # pearson correlation

,1648,5136,918,2824,3867,860,3712,2968,3525,4323,...,5261,2492,5062,2486,4942,2267,4809,3853,2288,Movie_Id
1648,1.000000,0.402980,-0.142206,0.517620,0.300200,0.480537,-0.312412,0.383348,0.092775,0.098191,...,0.493008,0.360644,0.551089,0.002544,0.116653,-0.429183,0.394371,-0.304422,0.245048,0.009657
5136,0.402980,1.000000,0.118979,0.057916,0.341734,0.241377,0.131398,0.206695,0.360056,0.033642,...,0.328120,0.422236,0.226635,0.305803,0.037769,0.240728,0.411676,0.189234,0.390067,-0.074828
918,-0.142206,0.118979,1.000000,-0.317063,0.294558,0.468333,0.092037,-0.045854,0.367568,-0.035394,...,0.470972,0.069956,-0.054762,0.133812,0.015169,-0.273096,0.082528,0.667168,0.119162,-0.231128
2824,0.517620,0.057916,-0.317063,1.000000,-0.060913,-0.008066,0.462910,0.214760,0.169907,0.119350,...,0.228341,0.238700,0.259660,0.247097,0.149247,-0.361466,0.474974,-0.262073,0.166999,-0.244501
3867,0.300200,0.341734,0.294558,-0.060913,1.000000,0.282497,0.400275,0.264249,0.125193,-0.333602,...,0.297977,0.476683,0.293868,0.438992,-0.162818,-0.295966,0.054518,0.464110,0.379856,-0.108165

In [128]:
weight_3712 =df1[3712].sort_values(ascending = False).head(6) 
weight_3712.drop(3712, inplace = True)
weight_3712

2824    0.462910
3867    0.400275
5062    0.247693
442     0.227130
3853    0.193660
Name: 3712, dtype: float64

In [129]:
df_3712 = df[[2824, 3867, 5062,442, 3853, 'Movie_Id', 'Movie_title']]

In [131]:
df_3712.head()

   2824  3867  5062  442  3853  Movie_Id                Movie_title
0   4.5   4.0   4.0  3.0   NaN        11                  Star Wars
1   NaN   4.0   4.0  NaN   NaN        12        Finding Nemo (2003)
2   5.0   4.5   4.5  3.0   3.5        13        Forrest Gump (1994)
3   NaN   NaN   4.5  4.0   NaN        14     American Beauty (1999)
4   4.5   4.0   4.0  1.0   NaN        22   Pirates of the Caribbean

In [132]:
df_3712_rates = df_3712[[2824, 3867,5062,442,3853]]

In [133]:
df_3712_rates.fillna(0, inplace = True)

C:\Users\alina\anaconda3\lib\site-packages\pandas\core\frame.py:4462: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [134]:
df_3712_rates.iloc[99]

2824    0.0
3867    3.0
5062    0.0
442     0.0
3853    0.0
Name: 99, dtype: float64

In [151]:
column_name_3712 = df_3712_rates.columns.tolist()
column_name_3712

[2824, 3867, 5062, 442, 3853]

In [152]:
sum_weight_3712 = []
for j in range(100):
    row = df_3712_rates.iloc[j]
    row_weight = []
    for i in column_name_3712:  
        if row[i] != 0:
            row_weight.append(weight_3712[i])
    sum_weight_3712.append(pd.Series(row_weight).sum())

<ipython-input-152-f9d0ceea1740>:8: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  sum_weight_3712.append(pd.Series(row_weight).sum())

In [153]:
def average_score(data, weight,sum_weight):
    score= []
    for row in range(100):
        score.append((df.iloc[row]*weight).sum()/sum_weight[row])
    return score

In [154]:

df_3712['Final_Score']= average_score(df_3712_rates, weight_3712, sum_weight_3712)

<ipython-input-153-56c861f9f0e6>:4: RuntimeWarning: invalid value encountered in double_scalars
  score.append((df.iloc[row]*weight).sum()/sum_weight[row])
<ipython-input-154-fb03e64e719f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3712['Final_Score']= average_score(df_3712_rates, weight_3712, sum_weight_3712)

In [155]:
df_3712.sort_values(by= 'Final_Score', ascending = False ).head(3)

,2824,3867,5062,442,3853,Movie_Id,Movie_title,Final_Score
55,NaN,NaN,NaN,5.0,NaN,641,Requiem for a Dream (2000),5.000000
50,5.0,5.0,4.5,5.0,4.5,603,The Matrix (1999),4.855924
11,NaN,NaN,4.5,5.0,NaN,105,Back to the Future (1985),4.739173

In [156]:
df[[3712, 'Movie_title']].sort_values(by = 3712, ascending = False).head(3)

    3712               Movie_title
38   5.0   Schindler's List (1993)
26   5.0         Braveheart (1995)
75   5.0   Meet the Parents (2000)

## Score With Normalization

In [148]:
df_3712_rates.head()

   2824  3867  5062  442   3853
0   4.5   4.0   4.0   3.0   0.0
1   0.0   4.0   4.0   0.0   0.0
2   5.0   4.5   4.5   3.0   3.5
3   0.0   0.0   4.5   4.0   0.0
4   4.5   4.0   4.0   1.0   0.0

In [160]:
df_3712.head()

,2824,3867,5062,442,3853,Movie_Id,Movie_title,Final_Score
0,4.5,4.0,4.0,3.0,NaN,11,Star Wars,4.003233
1,NaN,4.0,4.0,NaN,NaN,12,Finding Nemo (2003),4.000000
2,5.0,4.5,4.5,3.0,3.5,13,Forrest Gump (1994),4.302242
3,NaN,NaN,4.5,4.0,NaN,14,American Beauty (1999),4.260827
4,4.5,4.0,4.0,1.0,NaN,22,Pirates of the Caribbean,3.663728

In [149]:
mean_3712 = np.mean(df[3712])
mean_3712

4.5

In [165]:
# list_mean_weights 

column_name_3712
mean_neighbors_3712 = []
for i in column_name_3712:
    mean_neighbors_3712.append(df_3712[i].mean())

In [166]:
mean_neighbors_3712

[4.0588235294117645, 3.6615384615384614, 3.8656716417910446, 3.6, 3.7]

In [167]:
df_3712[2824].mean() # Testing

4.0588235294117645

In [208]:
df_3712_rates.head()

   2824  3867  5062  442   3853
0   4.5   4.0   4.0   3.0   0.0
1   0.0   4.0   4.0   0.0   0.0
2   5.0   4.5   4.5   3.0   3.5
3   0.0   0.0   4.5   4.0   0.0
4   4.5   4.0   4.0   1.0   0.0

In [203]:
column_name_3712

[2824, 3867, 5062, 442, 3853]

In [190]:
mean_neighbors_3712_serie = pd.Series(mean_neighbors_3712, index = column_name_3712)
mean_neighbors_3712_serie

2824    4.058824
3867    3.661538
5062    3.865672
442     3.600000
3853    3.700000
dtype: float64

In [214]:
sum_weight_3712 = []
rate_difference = []
for j in range(100):
    row = df_3712_rates.iloc[j]
    for i in column_name_3712:
        if row[i] != 0:
            diff = row[i] - mean_neighbors_3712_serie[i]
        rate_difference.append(diff)
rate_difference

[0.4411764705882355,
 0.3384615384615386,
 0.1343283582089554,
 -0.6000000000000001,
 -0.6000000000000001,
 -0.6000000000000001,
 0.3384615384615386,
 0.1343283582089554,
 0.1343283582089554,
 0.1343283582089554,
 0.9411764705882355,
 0.8384615384615386,
 0.6343283582089554,
 -0.6000000000000001,
 -0.20000000000000018,
 -0.20000000000000018,
 -0.20000000000000018,
 0.6343283582089554,
 0.3999999999999999,
 0.3999999999999999,
 0.4411764705882355,
 0.3384615384615386,
 0.1343283582089554,
 -2.6,
 -2.6,
 -0.0588235294117645,
 -0.6615384615384614,
 0.1343283582089554,
 1.4,
 1.2999999999999998,
 1.2999999999999998,
 1.2999999999999998,
 0.1343283582089554,
 -0.6000000000000001,
 1.2999999999999998,
 1.2999999999999998,
 1.2999999999999998,
 1.2999999999999998,
 -1.6,
 0.2999999999999998,
 0.9411764705882355,
 0.9411764705882355,
 0.1343283582089554,
 0.3999999999999999,
 0.7999999999999998,
 0.7999999999999998,
 0.8384615384615386,
 0.1343283582089554,
 1.4,
 0.2999999999999998,
 0.9411764705882355,
 0.3384615384615386,
 0.1343283582089554,
 0.3999999999999999,
 -0.7000000000000002,
 -0.7000000000000002,
 -0.7000000000000002,
 0.6343283582089554,
 1.4,
 1.4,
 0.9411764705882355,
 0.9411764705882355,
 0.1343283582089554,
 0.1343283582089554,
 0.1343283582089554,
 0.1343283582089554,
 0.3384615384615386,
 0.3384615384615386,
 0.3384615384615386,
 0.3384615384615386,
 -0.0588235294117645,
 1.3384615384615386,
 0.6343283582089554,
 1.4,
 1.2999999999999998,
 -0.0588235294117645,
 1.3384615384615386,
 0.6343283582089554,
 1.4,
 1.2999999999999998,
 -0.0588235294117645,
 1.3384615384615386,
 1.1343283582089554,
 1.4,
 0.2999999999999998,
 0.2999999999999998,
 0.2999999999999998,
 0.1343283582089554,
 0.1343283582089554,
 0.1343283582089554,
 0.1343283582089554,
 0.1343283582089554,
 0.6343283582089554,
 -0.6000000000000001,
 0.2999999999999998,
 0.2999999999999998,
 0.2999999999999998,
 -0.3656716417910446,
 -0.3656716417910446,
 -0.3656716417910446,
 -0.3656716417910446,
 -0.3656716417910446,
 0.6343283582089554,
 -0.6000000000000001,
 0.7999999999999998,
 0.9411764705882355,
 1.3384615384615386,
 0.6343283582089554,
 -0.6000000000000001,
 1.2999999999999998,
 1.2999999999999998,
 0.3384615384615386,
 0.6343283582089554,
 0.6343283582089554,
 -0.20000000000000018,
 0.4411764705882355,
 -0.1615384615384614,
 0.1343283582089554,
 1.4,
 -0.20000000000000018,
 -0.20000000000000018,
 -0.20000000000000018,
 0.1343283582089554,
 -0.6000000000000001,
 -0.6000000000000001,
 -0.6000000000000001,
 -0.6000000000000001,
 0.1343283582089554,
 0.3999999999999999,
 0.7999999999999998,
 0.7999999999999998,
 0.7999999999999998,
 0.7999999999999998,
 0.3999999999999999,
 -1.2000000000000002,
 -1.2000000000000002,
 -0.6615384615384614,
 -0.6615384615384614,
 0.3999999999999999,
 1.2999999999999998,
 1.2999999999999998,
 1.2999999999999998,
 -0.3656716417910446,
 -0.3656716417910446,
 -0.3656716417910446,
 -0.3656716417910446,
 -1.1615384615384614,
 -1.1615384615384614,
 -0.6000000000000001,
 -0.6000000000000001,
 -0.0588235294117645,
 0.3384615384615386,
 0.3384615384615386,
 -0.6000000000000001,
 0.2999999999999998,
 0.2999999999999998,
 0.2999999999999998,
 0.2999999999999998,
 0.3999999999999999,
 0.2999999999999998,
 0.2999999999999998,
 0.2999999999999998,
 0.2999999999999998,
 0.2999999999999998,
 0.2999999999999998,
 0.9411764705882355,
 -0.6615384615384614,
 0.6343283582089554,
 0.6343283582089554,
 0.2999999999999998,
 0.2999999999999998,
 -0.1615384615384614,
 -0.3656716417910446,
 0.3999999999999999,
 -0.7000000000000002,
 -0.7000000000000002,
 -0.1615384615384614,
 0.1343283582089554,
 0.3999999999999999,
 -1.7000000000000002,
 -0.0588235294117645,
 -0.6615384615384614,
 -0.3656716417910446,
 1.4,
 1.2999999999999998,
 1.2999999999999998,
 -1.1615384615384614,
 -1.1615384615384614,
 -0.6000000000000001,
 -0.6000000000000001,
 -0.6000000000000001,
 -0.6000000000000001,
 -0.6000000000000001,
 0.3999999999999999,
 0.7999999999999998,
 -0.0588235294117645,
 -0.6615384615384614,
 0.6343283582089554,
 0.3999999999999999,
 -0.20000000000000018,
 -0.20000000000000018,
 -0.1615384615384614,
 -0.1615384615384614,
 -0.1615384615384614,
 -0.1615384615384614,
 -0.5588235294117645,
 0.8384615384615386,
 1.1343283582089554,
 0.3999999999999999,
 0.3999999999999999,
 0.3999999999999999,
 0.3384615384615386,
 0.3384615384615386,
 -0.6000000000000001,
 -0.6000000000000001,
 -0.6000000000000001,
 0.3384615384615386,
 -0.3656716417910446,
 -1.6,
 -1.6,
 -1.6,
 -1.6,
 -0.3656716417910446,
 0.3999999999999999,
 0.3999999999999999,
 0.3999999999999999,
 0.3999999999999999,
 0.3999999999999999,
 0.3999999999999999,
 0.3999999999999999,
 0.3999999999999999,
 -0.1615384615384614,
 0.1343283582089554,
 0.1343283582089554,
 0.1343283582089554,
 0.1343283582089554,
 -1.6615384615384614,
 -0.3656716417910446,
 0.3999999999999999,
 0.3999999999999999,
 0.3999999999999999,
 -0.6615384615384614,
 -0.3656716417910446,
 -0.3656716417910446,
 -0.3656716417910446,
 -0.3656716417910446,
 -0.6615384615384614,
 -0.3656716417910446,
 0.3999999999999999,
 -1.7000000000000002,
 0.9411764705882355,
 1.3384615384615386,
 0.6343283582089554,
 1.4,
 0.7999999999999998,
 0.9411764705882355,
 -1.1615384615384614,
 -0.8656716417910446,
 1.4,
 -2.2,
 -1.0588235294117645,
 0.3384615384615386,
 -0.3656716417910446,
 -1.6,
 0.7999999999999998,
 0.7999999999999998,
 0.7999999999999998,
 -0.3656716417910446,
 -0.3656716417910446,
 1.2999999999999998,
 -1.0588235294117645,
 0.3384615384615386,
 0.1343283582089554,
 0.1343283582089554,
 0.1343283582089554,
 0.1343283582089554,
 0.1343283582089554,
 0.1343283582089554,
 1.4,
 1.4,
 1.4,
 1.4,
 -0.3656716417910446,
 -0.3656716417910446,
 -0.3656716417910446,
 -0.0588235294117645,
 0.3384615384615386,
 -1.8656716417910446,
 0.3999999999999999,
 0.3999999999999999,
 -1.0588235294117645,
 0.8384615384615386,
 -1.8656716417910446,
 -0.6000000000000001,
 -0.6000000000000001,
 -1.0588235294117645,
 1.3384615384615386,
 0.6343283582089554,
 1.4,
 0.2999999999999998,
 0.2999999999999998,
 0.3384615384615386,
 0.3384615384615386,
 0.3999999999999999,
 -0.7000000000000002,
 -0.0588235294117645,
 1.3384615384615386,
 1.3384615384615386,
 -0.6000000000000001,
 -0.20000000000000018,
 -0.20000000000000018,
 -0.20000000000000018,
 -0.20000000000000018,
 -0.20000000000000018,
 -0.20000000000000018,
 -0.20000000000000018,
 -1.1615384615384614,
 -0.3656716417910446,
 -0.3656716417910446,
 -2.2,
 -0.0588235294117645,
 -0.0588235294117645,
 -0.0588235294117645,
 -0.6000000000000001,
 0.2999999999999998,
 -1.0588235294117645,
 1.3384615384615386,
 -0.3656716417910446,
 -0.6000000000000001,
 0.2999999999999998,
 -0.0588235294117645,
 -0.1615384615384614,
 -0.1615384615384614,
 -0.6000000000000001,
 -0.6000000000000001,
 -1.5588235294117645,
 -0.6615384615384614,
 -0.3656716417910446,
 -0.3656716417910446,
 -0.3656716417910446,
 -0.3656716417910446,
 -0.1615384615384614,
 0.1343283582089554,
 -2.6,
 -0.20000000000000018,
 -0.20000000000000018,
 -0.1615384615384614,
 -0.1615384615384614,
 -1.6,
 -0.7000000000000002,
 -0.7000000000000002,
 -0.6615384615384614,
 -0.3656716417910446,
 -0.3656716417910446,
 -0.3656716417910446,
 -0.3656716417910446,
 -0.3656716417910446,
 0.1343283582089554,
 0.3999999999999999,
 -1.7000000000000002,
 -1.7000000000000002,
 -1.7000000000000002,
 -0.3656716417910446,
 0.3999999999999999,
 -1.2000000000000002,
 -0.5588235294117645,
 -0.6615384615384614,
 -0.6615384615384614,
 0.3999999999999999,
 0.3999999999999999,
 0.3999999999999999,
 1.3384615384615386,
 0.1343283582089554,
 0.3999999999999999,
 0.3999999999999999,
 0.3999999999999999,
 -0.1615384615384614,
 0.1343283582089554,
 0.1343283582089554,
 0.1343283582089554,
 0.1343283582089554,
 -1.6615384615384614,
 -0.3656716417910446,
 -0.3656716417910446,
 -0.3656716417910446,
 -0.0588235294117645,
 0.8384615384615386,
 0.6343283582089554,
 -0.6000000000000001,
 -0.6000000000000001,
 0.4411764705882355,
 0.3384615384615386,
 0.6343283582089554,
 -0.6000000000000001,
 -0.6000000000000001,
 -0.0588235294117645,
 -0.1615384615384614,
 -0.8656716417910446,
 -0.6000000000000001,
 -0.6000000000000001,
 -0.6000000000000001,
 -0.6000000000000001,
 -0.6000000000000001,
 -0.6000000000000001,
 0.7999999999999998,
 0.7999999999999998,
 0.7999999999999998,
 0.7999999999999998,
 -0.6000000000000001,
 -0.6000000000000001,
 -0.6000000000000001,
 -0.6000000000000001,
 -0.6000000000000001,
 1.4,
 -0.7000000000000002,
 -0.7000000000000002,
 -0.1615384615384614,
 0.1343283582089554,
 1.4,
 1.4,
 1.4,
 0.3384615384615386,
 0.1343283582089554,
 1.4,
 1.4,
 1.4,
 -1.1615384615384614,
 -1.1615384615384614,
 -2.6,
 -2.6,
 -2.6,
 -0.6615384615384614,
 -0.3656716417910446,
 -0.3656716417910446,
 -0.3656716417910446,
 -0.3656716417910446,
 -0.3656716417910446,
 -0.3656716417910446,
 -0.3656716417910446,
 -1.7000000000000002,
 -1.7000000000000002,
 -1.7000000000000002,
 -0.3656716417910446,
 -0.6000000000000001,
 -0.6000000000000001,
 -0.6000000000000001,
 -0.6000000000000001,
 -0.6000000000000001,
 -0.6000000000000001,
 -0.6000000000000001,
 -0.6000000000000001,
 -2.6615384615384614,
 0.1343283582089554,
 0.1343283582089554,
 0.1343283582089554,
 -0.5588235294117645,
 0.3384615384615386,
 0.3384615384615386,
 -0.6000000000000001,
 -0.6000000000000001,
 -0.6000000000000001,
 -0.6000000000000001,
 -0.6000000000000001,
 -0.6000000000000001,
 -0.6000000000000001,
 -0.6000000000000001,
 -0.6000000000000001,
 -0.6000000000000001,
 -0.6000000000000001,
 -0.6000000000000001,
 -0.6000000000000001,
 -0.6000000000000001,
 -0.6000000000000001,
 -1.6,
 -1.6,
 -1.6,
 -0.6615384615384614,
 -0.3656716417910446,
 -0.3656716417910446,
 -0.3656716417910446,
 -0.3656716417910446,
 0.3384615384615386,
 -1.8656716417910446,
 -1.8656716417910446,
 -1.8656716417910446,
 -1.8656716417910446,
 0.3384615384615386,
 0.1343283582089554,
 0.3999999999999999,
 -0.7000000000000002,
 -0.7000000000000002,
 -0.1615384615384614,
 -0.1615384615384614,
 0.3999999999999999,
 0.3999999999999999,
 0.3999999999999999,
 -0.6615384615384614,
 -0.6615384615384614,
 -0.6615384615384614,
 -0.6615384615384614]

In [177]:
sum_weight_3712[0]

1.3380076913649284

In [ ]:
df_3712_ratings_fillzero = df_3712_ratings.fillna(0)
df_3712_ratings_fillzero.head()

In [ ]:
from sklearn import preprocessing
import numpy as np
normalized= preprocessing.normalize(df_3712_ratings_fillzero)

In [ ]:
norm = pd.DataFrame(normalized, columns =[2824,3867,5062,442,3853] )

In [ ]:
norm.head()

In [ ]:
def rate_mean_diff(df):
    rate_diff_100= []
    for i in range(100):
        l = list(df.iloc[i])
        rate_diff = []
        for j in range(5):
                rate_diff.append((l[j]-mean_neighbors[j]))
        rate_diff_100.append(rate_diff)
    return rate_diff_100

In [ ]:
array = rate_mean_diff(df_3712_ratings_fillzero)

In [ ]:
rate_diff = pd.DataFrame(array, columns =[2824,3867,5062,442,3853] )
rate_diff

In [ ]:
score = []
for i in range(100):
    score.append((rate_diff.iloc[i]*norm.iloc[i]).sum()/norm.iloc[i].sum() + 4.5)

In [ ]:
id_603 = df_3712[df_3712['Movie_Id'] == '603']

In [ ]:

df_3712['Final_Score'] = score

In [ ]:
df_3712.sort_values(by= 'Final_Score', ascending  = False)