In [181]:
import numpy as np
import pandas as pd

In [182]:
df = pd.read_excel('UUCF Assignment Spreadsheet.xls')

In [183]:
df.columns

Index(['Unnamed: 0',         1648,         5136,          918,         2824,
               3867,          860,         3712,         2968,         3525,
               4323,         3617,         4360,         2756,           89,
                442,         3556,         5261,         2492,         5062,
               2486,         4942,         2267,         4809,         3853,
               2288],
      dtype='object')

In [184]:
movie_id = []
movie_title = []
for title in df['Unnamed: 0']:
    t = title.split(':')
    movie_id.append(t[0])
    movie_title.append(t[1])

In [185]:
df['Movie_Id'] = movie_id
df['Movie_title'] = movie_title

In [186]:
df.drop(columns = 'Unnamed: 0', inplace = True)

In [187]:
df.head()

,1648,5136,918,2824,3867,860,3712,2968,3525,4323,...,2492,5062,2486,4942,2267,4809,3853,2288,Movie_Id,Movie_title
0,NaN,4.5,5.0,4.5,4.0,4.0,NaN,5.0,4.0,5.0,...,4.5,4.0,3.5,NaN,NaN,NaN,NaN,NaN,11,Star Wars
1,NaN,5.0,5.0,NaN,4.0,4.0,4.5,4.5,4.0,5.0,...,3.5,4.0,2.0,3.5,NaN,NaN,NaN,3.5,12,Finding Nemo (2003)
2,NaN,5.0,4.5,5.0,4.5,4.5,NaN,5.0,4.5,5.0,...,3.5,4.5,4.5,4.0,3.5,4.5,3.5,3.5,13,Forrest Gump (1994)
3,NaN,4.0,NaN,NaN,NaN,NaN,4.5,2.0,3.5,5.0,...,3.5,4.5,3.5,4.0,NaN,3.5,NaN,NaN,14,American Beauty (1999)
4,4.0,5.0,3.0,4.5,4.0,2.5,NaN,5.0,3.0,4.0,...,4.0,4.0,2.5,3.5,NaN,5.0,NaN,3.5,22,Pirates of the Caribbean

In [188]:
df1 = df.corr()
df1.head()

,1648,5136,918,2824,3867,860,3712,2968,3525,4323,...,3556,5261,2492,5062,2486,4942,2267,4809,3853,2288
1648,1.000000,0.402980,-0.142206,0.517620,0.300200,0.480537,-0.312412,0.383348,0.092775,0.098191,...,-0.191988,0.493008,0.360644,0.551089,0.002544,0.116653,-0.429183,0.394371,-0.304422,0.245048
5136,0.402980,1.000000,0.118979,0.057916,0.341734,0.241377,0.131398,0.206695,0.360056,0.033642,...,0.488607,0.328120,0.422236,0.226635,0.305803,0.037769,0.240728,0.411676,0.189234,0.390067
918,-0.142206,0.118979,1.000000,-0.317063,0.294558,0.468333,0.092037,-0.045854,0.367568,-0.035394,...,0.373226,0.470972,0.069956,-0.054762,0.133812,0.015169,-0.273096,0.082528,0.667168,0.119162
2824,0.517620,0.057916,-0.317063,1.000000,-0.060913,-0.008066,0.462910,0.214760,0.169907,0.119350,...,-0.201275,0.228341,0.238700,0.259660,0.247097,0.149247,-0.361466,0.474974,-0.262073,0.166999
3867,0.300200,0.341734,0.294558,-0.060913,1.000000,0.282497,0.400275,0.264249,0.125193,-0.333602,...,0.174085,0.297977,0.476683,0.293868,0.438992,-0.162818,-0.295966,0.054518,0.464110,0.379856

In [189]:
top5_neigbors =df1[3867].sort_values(ascending = False).head(6)
top5_neigbors

3867    1.000000
2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64

In [190]:
df[[3867, 'Movie_title']].head(20)

    3867                                        Movie_title
0    4.0                                          Star Wars
1    4.0                                Finding Nemo (2003)
2    4.5                                Forrest Gump (1994)
3    NaN                             American Beauty (1999)
4    4.0                           Pirates of the Caribbean
5    3.0                                          Kill Bill
6    NaN       Eternal Sunshine of the Spotless Mind (2004)
7    NaN          Twelve Monkeys (a.k.a. 12 Monkeys) (1995)
8    NaN                                     Memento (2000)
9    4.5   Raiders of the Lost Ark (Indiana Jones and th...
10   4.0                                   Gladiator (2000)
11   NaN                          Back to the Future (1985)
12   NaN                                      Snatch (2000)
13   4.0                                Pretty Woman (1990)
14   5.0                              The Lord of the Rings
15   5.0                              The Lord of the Rings
16   5.0                              The Lord of the Rings
17   NaN                   O Brother Where Art Thou? (2000)
18   NaN                                Donnie Darko (2001)
19   NaN   Crouching Tiger Hidden Dragon (Wo hu cang lon...

In [191]:
df1[3867].mean()

0.19979709725425232

In [192]:
df_nei = df[[2492,3853,2486,3712,2288,'Movie_Id', 'Movie_title']]

In [193]:
# score = sum(Rn*Wo)/sum(Wo)

In [194]:
df_nei.head()

   2492  3853  2486  3712  2288 Movie_Id                Movie_title
0   4.5   NaN   3.5   NaN   NaN       11                  Star Wars
1   3.5   NaN   2.0   4.5   3.5       12        Finding Nemo (2003)
2   3.5   3.5   4.5   NaN   3.5       13        Forrest Gump (1994)
3   3.5   NaN   3.5   4.5   NaN       14     American Beauty (1999)
4   4.0   NaN   2.5   NaN   3.5       22   Pirates of the Caribbean

In [195]:
# func finding nan values
def nan_function(row):
    for ele in row:
        if ele == 'NaN':
            count += 1
    return count

In [196]:
df_nei.iloc[0]

2492                  4.5
3853                  NaN
2486                  3.5
3712                  NaN
2288                  NaN
Movie_Id               11
Movie_title     Star Wars
Name: 0, dtype: object

In [201]:
weight = []
for rate in top5_neigbors:
    weight.append(rate)

In [202]:
pd.Series(weight)

0    1.000000
1    0.476683
2    0.464110
3    0.438992
4    0.400275
5    0.379856
dtype: float64

In [203]:
weight.remove(1)

In [204]:
sum(weight)

TypeError: 'list' object is not callable

In [205]:
weight_X_rating = df_nei[[2492,3853,2486,3712,2288]]*weight
weight_X_rating.head()

       2492      3853      2486      3712      2288
0  2.145075       NaN  1.536470       NaN       NaN
1  1.668391       NaN  0.877983  1.801235  1.329497
2  1.668391  1.624386  1.975462       NaN  1.329497
3  1.668391       NaN  1.536470  1.801235       NaN
4  1.906733       NaN  1.097479       NaN  1.329497

In [206]:
#sum(weight_X_rating.iloc[0], skipna = True)/sum(weight)
weight_X_rating.iloc[0].sum(skipna = True)/sum(weight)

TypeError: 'list' object is not callable

In [207]:
def average_weight(df):
    score = []
    for i in range(100):
        score.append(df.iloc[i].sum(skipna = True)/sum(weight))
    return score

In [208]:
df_nei['Score'] = average_weight(weight_X_rating)
df_nei.sort_values(by = 'Score', ascending = False).head(10)

TypeError: 'list' object is not callable

In [209]:
df[[3867, 'Movie_title']].sort_values(by = 3867, ascending = False).head(10)

    3867                                        Movie_title
74   5.0                                           Die Hard
14   5.0                              The Lord of the Rings
50   5.0                                  The Matrix (1999)
59   5.0                                Pulp Fiction (1994)
16   5.0                              The Lord of the Rings
15   5.0                              The Lord of the Rings
21   5.0                             The Dark Knight (2008)
61   5.0                              V for Vendetta (2006)
65   5.0                                       Shrek (2001)
9    4.5   Raiders of the Lost Ark (Indiana Jones and th...

In [210]:
df[df['Movie_Id'] == '641']

,1648,5136,918,2824,3867,860,3712,2968,3525,4323,...,2492,5062,2486,4942,2267,4809,3853,2288,Movie_Id,Movie_title
55,NaN,4.5,NaN,NaN,NaN,3.0,NaN,3.0,NaN,5.0,...,NaN,NaN,2.5,4.0,4.0,NaN,NaN,NaN,641,Requiem for a Dream (2000)

In [211]:
# Top Recommendation Movies for user 3712 without normalization

df.head()

,1648,5136,918,2824,3867,860,3712,2968,3525,4323,...,2492,5062,2486,4942,2267,4809,3853,2288,Movie_Id,Movie_title
0,NaN,4.5,5.0,4.5,4.0,4.0,NaN,5.0,4.0,5.0,...,4.5,4.0,3.5,NaN,NaN,NaN,NaN,NaN,11,Star Wars
1,NaN,5.0,5.0,NaN,4.0,4.0,4.5,4.5,4.0,5.0,...,3.5,4.0,2.0,3.5,NaN,NaN,NaN,3.5,12,Finding Nemo (2003)
2,NaN,5.0,4.5,5.0,4.5,4.5,NaN,5.0,4.5,5.0,...,3.5,4.5,4.5,4.0,3.5,4.5,3.5,3.5,13,Forrest Gump (1994)
3,NaN,4.0,NaN,NaN,NaN,NaN,4.5,2.0,3.5,5.0,...,3.5,4.5,3.5,4.0,NaN,3.5,NaN,NaN,14,American Beauty (1999)
4,4.0,5.0,3.0,4.5,4.0,2.5,NaN,5.0,3.0,4.0,...,4.0,4.0,2.5,3.5,NaN,5.0,NaN,3.5,22,Pirates of the Caribbean

In [212]:
neighbor_of_3712 = df.corr()[3712].sort_values(ascending = False).head(6) # top 5 neighbors
neighbor_of_3712 = list(neighbor_of_3712)

In [213]:
weights_3712 = neighbor_of_3712

In [214]:
neighbor_of_3712.remove(1)
sum_weight_3712 = sum(neighbor_of_3712)
sum_weight_3712

TypeError: 'list' object is not callable

In [215]:
df_3712 = df[[2824, 3867, 5062,442, 3853, 'Movie_Id', 'Movie_title']]

In [216]:
df_3712 # replacing Nan by 0

    2824  3867  5062  442  3853 Movie_Id                   Movie_title
0    4.5   4.0   4.0  3.0   NaN       11                     Star Wars
1    NaN   4.0   4.0  NaN   NaN       12           Finding Nemo (2003)
2    5.0   4.5   4.5  3.0   3.5       13           Forrest Gump (1994)
3    NaN   NaN   4.5  4.0   NaN       14        American Beauty (1999)
4    4.5   4.0   4.0  1.0   NaN       22      Pirates of the Caribbean
..   ...   ...   ...  ...   ...      ...                           ...
95   NaN   3.0   3.5  NaN   NaN     9806        The Incredibles (2004)
96   NaN   4.0   2.0  NaN   NaN    10020   Beauty and the Beast (1991)
97   NaN   4.0   4.0  4.0   3.0    36657                  X-Men (2000)
98   NaN   3.5   NaN  4.0   NaN    36658                            X2
99   NaN   3.0   NaN  NaN   NaN    36955              True Lies (1994)

[100 rows x 7 columns]

In [217]:
# func finding nan values
def nan_function(row):
    for ele in row:
        count = 0
        if ele == 'NaN':
            count += 1
    return count

In [218]:
df_3712_users = df_3712[[2824, 3867,5062,442,3853]]
df_3712_users = df_3712_users

In [219]:
def average_score(data):
    score_3712 = []
    for row in range(100):
        score_3712.append((df_3712_users.iloc[row]*neighbor_of_3712).sum(skipna =True)/sum_weight_3712)
    return score_3712

In [220]:
df_3712['Score'] = average_score(df_3712_users)

<ipython-input-220-831bf8b03b75>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3712['Score'] = average_score(df_3712_users)

In [221]:
df_3712[df_3712['Movie_Id'] == '105']

    2824  3867  5062  442  3853 Movie_Id                 Movie_title     Score
11   NaN   NaN   4.5  5.0   NaN      105   Back to the Future (1985)  1.469163

In [222]:
(df_3712_users.iloc[0]*neighbor_of_3712).sum()/sum_weight_3712

3.4970753434799384

In [223]:
df_3712_users.iloc[0].sum()

15.5

In [224]:
df_3712_users.iloc[0]

2824    4.5
3867    4.0
5062    4.0
442     3.0
3853    NaN
Name: 0, dtype: float64

In [225]:
df_3712_users

    2824  3867  5062  442   3853
0    4.5   4.0   4.0   3.0   NaN
1    NaN   4.0   4.0   NaN   NaN
2    5.0   4.5   4.5   3.0   3.5
3    NaN   NaN   4.5   4.0   NaN
4    4.5   4.0   4.0   1.0   NaN
..   ...   ...   ...   ...   ...
95   NaN   3.0   3.5   NaN   NaN
96   NaN   4.0   2.0   NaN   NaN
97   NaN   4.0   4.0   4.0   3.0
98   NaN   3.5   NaN   4.0   NaN
99   NaN   3.0   NaN   NaN   NaN

[100 rows x 5 columns]

In [226]:
list(df_3712_users.iloc[0].values)[0]

4.5

In [227]:
for j in range(100):
    for i in range(5):
        a = list(df_3712_users.iloc[i].values)
    
    print(count)

[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]
[0.4766832805451799, 0.46411014776485643, 0.4389915544146359, 0.4002745042538168]

In [228]:
a = list(df_3712_users.iloc[96])
a

[nan, 4.0, 2.0, nan, nan]

In [229]:
weights_3712

[0.46291004988627577,
 0.4002745042538168,
 0.24769327229404733,
 0.22712986493078843,
 0.1936596018372691]

In [230]:
ind =np.where(np.isnan(a))[0]

ind

array([0, 3, 4], dtype=int64)

In [231]:
a=[1, 2, 3, 4, np.nan, np.nan, 2, np.nan]

ind=[]
ind = np.where(np.isnan(a))[0]
ind

array([4, 5, 7], dtype=int64)

In [232]:
a[4]

nan

In [233]:
weights_3712

[0.46291004988627577,
 0.4002745042538168,
 0.24769327229404733,
 0.22712986493078843,
 0.1936596018372691]

In [234]:
df_3712_users.fillna(0)

    2824  3867  5062  442   3853
0    4.5   4.0   4.0   3.0   0.0
1    0.0   4.0   4.0   0.0   0.0
2    5.0   4.5   4.5   3.0   3.5
3    0.0   0.0   4.5   4.0   0.0
4    4.5   4.0   4.0   1.0   0.0
..   ...   ...   ...   ...   ...
95   0.0   3.0   3.5   0.0   0.0
96   0.0   4.0   2.0   0.0   0.0
97   0.0   4.0   4.0   4.0   3.0
98   0.0   3.5   0.0   4.0   0.0
99   0.0   3.0   0.0   0.0   0.0

[100 rows x 5 columns]

In [235]:
# Get a single row with indices

list(df_3712_users.iloc[0])

[4.5, 4.0, 4.0, 3.0, nan]

In [236]:
weight_dict = {'2824':0.4766832805451799, '3867':0.46411014776485643, '5062':0.4389915544146359, '442': 0.4002745042538168, '3853': 0.37985626502293035 }
weight_dict

{'2824': 0.4766832805451799,
 '3867': 0.46411014776485643,
 '5062': 0.4389915544146359,
 '442': 0.4002745042538168,
 '3853': 0.37985626502293035}

In [237]:
pd.Series(weight_dict)

2824    0.476683
3867    0.464110
5062    0.438992
442     0.400275
3853    0.379856
dtype: float64

In [238]:
list(df_3712_users.iloc[0])

[4.5, 4.0, 4.0, 3.0, nan]

In [239]:
for i in range(100):
    l = list(df_3712_users.iloc[i])
    for j in range(5):
        res = [idx for idx, val in enumerate(l) if val != 0]

res

[0, 1, 2, 3, 4]

In [240]:
#np.nonzero(df_3712_users.iloc[0])
l

[nan, 3.0, nan, nan, nan]

In [241]:
np.nonzero(l)

(array([0, 1, 2, 3, 4], dtype=int64),)

In [242]:
n = df_3712_users.iloc[0]

In [243]:
n.fillna(0)

2824    4.5
3867    4.0
5062    4.0
442     3.0
3853    0.0
Name: 0, dtype: float64

In [244]:
[idx for idx, val in enumerate(n) if val != 0]

[0, 1, 2, 3, 4]

In [245]:
n[3853] = 0
n

2824    4.5
3867    4.0
5062    4.0
442     3.0
3853    0.0
Name: 0, dtype: float64

In [246]:
[idx for idx, val in enumerate(n) if val != 0]

[0, 1, 2, 3]

In [247]:
m = df_3712_users.iloc[99]

In [248]:
[idx for idx, val in enumerate(m) if val != 0]

[0, 1, 2, 3, 4]

In [249]:
m

2824    NaN
3867    3.0
5062    NaN
442     NaN
3853    NaN
Name: 99, dtype: float64

In [250]:
df_3712_users.fillna(0, inplace = True)

C:\Users\alina\anaconda3\lib\site-packages\pandas\core\frame.py:4462: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [251]:
df_3712_users

    2824  3867  5062  442   3853
0    4.5   4.0   4.0   3.0   0.0
1    0.0   4.0   4.0   0.0   0.0
2    5.0   4.5   4.5   3.0   3.5
3    0.0   0.0   4.5   4.0   0.0
4    4.5   4.0   4.0   1.0   0.0
..   ...   ...   ...   ...   ...
95   0.0   3.0   3.5   0.0   0.0
96   0.0   4.0   2.0   0.0   0.0
97   0.0   4.0   4.0   4.0   3.0
98   0.0   3.5   0.0   4.0   0.0
99   0.0   3.0   0.0   0.0   0.0

[100 rows x 5 columns]

In [253]:
weight

[0.4766832805451799,
 0.46411014776485643,
 0.4389915544146359,
 0.4002745042538168,
 0.37985626502293035]

In [319]:
count2 = []
for j in range(100):
    l = list(df_3712_users.iloc[j])
    res = [idx for idx, val in enumerate(l) if val != 0]
    count =[]
    for i in res:
        count.append(weight[i])
    suma = 0
    
    for j in count:
        suma = suma + j
    count2.append(suma)
count2

[1.780059486978489,
 0.9031017021794923,
 2.159915752001419,
 0.8392660586684526,
 1.780059486978489,
 2.159915752001419,
 1.219122323691383,
 0.7801307692767472,
 1.695805604236563,
 1.6832324714562392,
 2.159915752001419,
 0.8392660586684526,
 0.9156748349598158,
 0.46411014776485643,
 2.159915752001419,
 2.159915752001419,
 2.159915752001419,
 0.4389915544146359,
 1.219122323691383,
 0.4389915544146359,
 1.219122323691383,
 2.159915752001419,
 1.2829579672024227,
 2.159915752001419,
 0.8392660586684526,
 1.219122323691383,
 0.7801307692767472,
 1.2442409170416036,
 0.4389915544146359,
 0.8643846520186732,
 1.7209241975867835,
 0.7801307692767472,
 0,
 1.7596412477476027,
 1.6832324714562392,
 1.6832324714562392,
 2.159915752001419,
 0.8643846520186732,
 0.7801307692767472,
 2.159915752001419,
 0.46411014776485643,
 1.780059486978489,
 0.8643846520186732,
 1.303376206433309,
 0.8392660586684526,
 0,
 0.9031017021794923,
 1.303376206433309,
 0.9031017021794923,
 1.6832324714562392,
 2.159915752001419,
 2.159915752001419,
 2.159915752001419,
 0.8188478194375662,
 1.3797849827246722,
 0.4002745042538168,
 0.4389915544146359,
 1.780059486978489,
 1.780059486978489,
 2.159915752001419,
 1.2442409170416036,
 1.7209241975867835,
 0,
 1.2829579672024227,
 1.256814049821927,
 2.159915752001419,
 1.341067932563853,
 1.3797849827246722,
 1.6832324714562392,
 1.2442409170416036,
 0.9031017021794923,
 1.219122323691383,
 1.219122323691383,
 1.341067932563853,
 1.303376206433309,
 0.9031017021794923,
 0.9031017021794923,
 1.780059486978489,
 1.780059486978489,
 1.780059486978489,
 0.7801307692767472,
 0.4002745042538168,
 0.7801307692767472,
 1.303376206433309,
 1.303376206433309,
 0.8643846520186732,
 0.9031017021794923,
 0.37985626502293035,
 0.8392660586684526,
 0.4002745042538168,
 0.9031017021794923,
 1.341067932563853,
 0,
 0,
 0.4002745042538168,
 0.9031017021794923,
 0.9031017021794923,
 1.6832324714562392,
 0.8643846520186732,
 0.46411014776485643]

In [341]:
df_3712_users.drop(columns = 'Sum_Weight', inplace = True)

C:\Users\alina\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [342]:
df_3712_users

    2824  3867  5062  442   3853
0    4.5   4.0   4.0   3.0   0.0
1    0.0   4.0   4.0   0.0   0.0
2    5.0   4.5   4.5   3.0   3.5
3    0.0   0.0   4.5   4.0   0.0
4    4.5   4.0   4.0   1.0   0.0
..   ...   ...   ...   ...   ...
95   0.0   3.0   3.5   0.0   0.0
96   0.0   4.0   2.0   0.0   0.0
97   0.0   4.0   4.0   4.0   3.0
98   0.0   3.5   0.0   4.0   0.0
99   0.0   3.0   0.0   0.0   0.0

[100 rows x 5 columns]

In [373]:
def average_score(data):
    score_3712 = []
    for row in range(100):
        score_3712.append((df_3712_users.iloc[row]*weight).sum()/count2[row])

    return(score_3712)
Final_score = average_score(df_3712_users)

<ipython-input-373-d2086af06c11>:4: RuntimeWarning: invalid value encountered in double_scalars
  score_3712.append((df_3712_users.iloc[row]*weight).sum()/count2[row])

In [374]:
(df_3712_users.iloc[0]*weight).sum()/count2[0]

3.909029521111064

In [375]:
weight

[0.4766832805451799,
 0.46411014776485643,
 0.4389915544146359,
 0.4002745042538168,
 0.37985626502293035]

In [376]:
def sum_single_row(df): 
    l = list(df.iloc[0])
    res = [idx for idx, val in enumerate(l) if val != 0]
    count = []
    for i in range(len(res)):
        count.append(weight[i])
    c = pd.Series(count)
    return(c.sum())
s = sum_single_row(df_3712_users)
s

1.780059486978489

In [377]:
c.sum()

120.89957251283144

In [378]:
count

[0.46411014776485643]

In [379]:
res[0]

1

In [380]:
df_3712.fillna(0)

,2824,3867,5062,442,3853,Movie_Id,Movie_title,Sum_Weight,Final_Score
0,4.5,4.0,4.0,3.0,0.0,11,Star Wars,1.780059,3.909139
1,0.0,4.0,4.0,0.0,0.0,12,Finding Nemo (2003),0.903102,3.999550
2,5.0,4.5,4.5,3.0,3.5,13,Forrest Gump (1994),2.159916,4.156875
3,0.0,0.0,4.5,4.0,0.0,14,American Beauty (1999),0.839266,4.260270
4,4.5,4.0,4.0,1.0,0.0,22,Pirates of the Caribbean,1.780059,3.459716
...,...,...,...,...,...,...,...,...,...
95,0.0,3.0,3.5,0.0,0.0,9806,The Incredibles (2004),0.903102,3.242713
96,0.0,4.0,2.0,0.0,0.0,10020,Beauty and the Beast (1991),0.903102,3.027345
97,0.0,4.0,4.0,4.0,3.0,36657,X-Men (2000),1.683232,3.773691
98,0.0,3.5,0.0,4.0,0.0,36658,X2,0.864385,3.729821
99,0.0,3.0,0.0,0.0,0.0,36955,True Lies (1994),0.464110,2.999288

In [382]:
df_3712['Sum_Weight'] = count2

<ipython-input-382-69a3e88c5906>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3712['Sum_Weight'] = count2

In [383]:
df_3712

,2824,3867,5062,442,3853,Movie_Id,Movie_title,Sum_Weight,Final_Score
0,4.5,4.0,4.0,3.0,0.0,11,Star Wars,1.780059,3.909139
1,0.0,4.0,4.0,0.0,0.0,12,Finding Nemo (2003),0.903102,3.999550
2,5.0,4.5,4.5,3.0,3.5,13,Forrest Gump (1994),2.159916,4.156875
3,0.0,0.0,4.5,4.0,0.0,14,American Beauty (1999),0.839266,4.260270
4,4.5,4.0,4.0,1.0,0.0,22,Pirates of the Caribbean,1.780059,3.459716
...,...,...,...,...,...,...,...,...,...
95,0.0,3.0,3.5,0.0,0.0,9806,The Incredibles (2004),0.903102,3.242713
96,0.0,4.0,2.0,0.0,0.0,10020,Beauty and the Beast (1991),0.903102,3.027345
97,0.0,4.0,4.0,4.0,3.0,36657,X-Men (2000),1.683232,3.773691
98,0.0,3.5,0.0,4.0,0.0,36658,X2,0.864385,3.729821
99,0.0,3.0,0.0,0.0,0.0,36955,True Lies (1994),0.464110,2.999288

In [384]:
df_3712['Final_Score'] = Final_score

<ipython-input-384-971fce4528a1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3712['Final_Score'] = Final_score

In [385]:
df_3712

,2824,3867,5062,442,3853,Movie_Id,Movie_title,Sum_Weight,Final_Score
0,4.5,4.0,4.0,3.0,0.0,11,Star Wars,1.780059,3.909030
1,0.0,4.0,4.0,0.0,0.0,12,Finding Nemo (2003),0.903102,4.000000
2,5.0,4.5,4.5,3.0,3.5,13,Forrest Gump (1994),2.159916,4.156502
3,0.0,0.0,4.5,4.0,0.0,14,American Beauty (1999),0.839266,4.261533
4,4.5,4.0,4.0,1.0,0.0,22,Pirates of the Caribbean,1.780059,3.459298
...,...,...,...,...,...,...,...,...,...
95,0.0,3.0,3.5,0.0,0.0,9806,The Incredibles (2004),0.903102,3.243047
96,0.0,4.0,2.0,0.0,0.0,10020,Beauty and the Beast (1991),0.903102,3.027814
97,0.0,4.0,4.0,4.0,3.0,36657,X-Men (2000),1.683232,3.774329
98,0.0,3.5,0.0,4.0,0.0,36658,X2,0.864385,3.731537
99,0.0,3.0,0.0,0.0,0.0,36955,True Lies (1994),0.464110,3.000000

In [389]:
df_3712 = df_3712.sort_values(by = 'Final_Score', ascending = False)

In [387]:
weight =[0.4766832805451799,
 0.46411014776485643,
 0.4389915544146359,
 0.4002745042538168,
 0.37985626502293035]

In [391]:
df_3712.drop(columns = 'Sum_Weight', inplace = True)

In [392]:
df_3712

,2824,3867,5062,442,3853,Movie_Id,Movie_title,Final_Score
55,0.0,0.0,0.0,5.0,0.0,641,Requiem for a Dream (2000),5.000000
50,5.0,5.0,4.5,5.0,4.5,603,The Matrix (1999),4.810445
11,0.0,0.0,4.5,5.0,0.0,105,Back to the Future (1985),4.738467
15,4.0,5.0,4.5,5.0,5.0,121,The Lord of the Rings,4.677682
14,4.0,5.0,4.5,5.0,5.0,120,The Lord of the Rings,4.677682
...,...,...,...,...,...,...,...,...
32,0.0,0.0,0.0,0.0,0.0,275,Fargo (1996),NaN
45,0.0,0.0,0.0,0.0,0.0,581,Dances with Wolves (1990),NaN
62,0.0,0.0,0.0,0.0,0.0,786,Almost Famous (2000),NaN
92,0.0,0.0,0.0,0.0,0.0,9331,Clear and Present Danger (1994),NaN
93,0.0,0.0,0.0,0.0,0.0,9741,Unbreakable (2000),NaN