In [141]:
import numpy as np
import pandas as pd

In [159]:
df = pd.read_excel('UUCF Assignment Spreadsheet.xls')

In [160]:
df.columns

Index(['Unnamed: 0',         1648,         5136,          918,         2824,
               3867,          860,         3712,         2968,         3525,
               4323,         3617,         4360,         2756,           89,
                442,         3556,         5261,         2492,         5062,
               2486,         4942,         2267,         4809,         3853,
               2288],
      dtype='object')

In [161]:
movie_id = []
movie_title = []
for title in df['Unnamed: 0']:
    t = title.split(':')
    movie_id.append(t[0])
    movie_title.append(t[1])

In [162]:
df['Movie_Id'] = movie_id
df['Movie_title'] = movie_title

In [163]:
df.drop(columns = 'Unnamed: 0', inplace = True)

In [164]:
df.head()

,1648,5136,918,2824,3867,860,3712,2968,3525,4323,...,2492,5062,2486,4942,2267,4809,3853,2288,Movie_Id,Movie_title
0,NaN,4.5,5.0,4.5,4.0,4.0,NaN,5.0,4.0,5.0,...,4.5,4.0,3.5,NaN,NaN,NaN,NaN,NaN,11,Star Wars
1,NaN,5.0,5.0,NaN,4.0,4.0,4.5,4.5,4.0,5.0,...,3.5,4.0,2.0,3.5,NaN,NaN,NaN,3.5,12,Finding Nemo (2003)
2,NaN,5.0,4.5,5.0,4.5,4.5,NaN,5.0,4.5,5.0,...,3.5,4.5,4.5,4.0,3.5,4.5,3.5,3.5,13,Forrest Gump (1994)
3,NaN,4.0,NaN,NaN,NaN,NaN,4.5,2.0,3.5,5.0,...,3.5,4.5,3.5,4.0,NaN,3.5,NaN,NaN,14,American Beauty (1999)
4,4.0,5.0,3.0,4.5,4.0,2.5,NaN,5.0,3.0,4.0,...,4.0,4.0,2.5,3.5,NaN,5.0,NaN,3.5,22,Pirates of the Caribbean

In [165]:
df1 = df.corr()
df1.head()

,1648,5136,918,2824,3867,860,3712,2968,3525,4323,...,3556,5261,2492,5062,2486,4942,2267,4809,3853,2288
1648,1.000000,0.402980,-0.142206,0.517620,0.300200,0.480537,-0.312412,0.383348,0.092775,0.098191,...,-0.191988,0.493008,0.360644,0.551089,0.002544,0.116653,-0.429183,0.394371,-0.304422,0.245048
5136,0.402980,1.000000,0.118979,0.057916,0.341734,0.241377,0.131398,0.206695,0.360056,0.033642,...,0.488607,0.328120,0.422236,0.226635,0.305803,0.037769,0.240728,0.411676,0.189234,0.390067
918,-0.142206,0.118979,1.000000,-0.317063,0.294558,0.468333,0.092037,-0.045854,0.367568,-0.035394,...,0.373226,0.470972,0.069956,-0.054762,0.133812,0.015169,-0.273096,0.082528,0.667168,0.119162
2824,0.517620,0.057916,-0.317063,1.000000,-0.060913,-0.008066,0.462910,0.214760,0.169907,0.119350,...,-0.201275,0.228341,0.238700,0.259660,0.247097,0.149247,-0.361466,0.474974,-0.262073,0.166999
3867,0.300200,0.341734,0.294558,-0.060913,1.000000,0.282497,0.400275,0.264249,0.125193,-0.333602,...,0.174085,0.297977,0.476683,0.293868,0.438992,-0.162818,-0.295966,0.054518,0.464110,0.379856

In [166]:
top5_neigbors =df1[3867].sort_values(ascending = False).head(6)
top5_neigbors

3867    1.000000
2492    0.476683
3853    0.464110
2486    0.438992
3712    0.400275
2288    0.379856
Name: 3867, dtype: float64

In [167]:
df[[3867, 'Movie_title']].head(20)

    3867                                        Movie_title
0    4.0                                          Star Wars
1    4.0                                Finding Nemo (2003)
2    4.5                                Forrest Gump (1994)
3    NaN                             American Beauty (1999)
4    4.0                           Pirates of the Caribbean
5    3.0                                          Kill Bill
6    NaN       Eternal Sunshine of the Spotless Mind (2004)
7    NaN          Twelve Monkeys (a.k.a. 12 Monkeys) (1995)
8    NaN                                     Memento (2000)
9    4.5   Raiders of the Lost Ark (Indiana Jones and th...
10   4.0                                   Gladiator (2000)
11   NaN                          Back to the Future (1985)
12   NaN                                      Snatch (2000)
13   4.0                                Pretty Woman (1990)
14   5.0                              The Lord of the Rings
15   5.0                              The Lord of the Rings
16   5.0                              The Lord of the Rings
17   NaN                   O Brother Where Art Thou? (2000)
18   NaN                                Donnie Darko (2001)
19   NaN   Crouching Tiger Hidden Dragon (Wo hu cang lon...

In [168]:
df1[3867].mean()

0.19979709725425232

In [169]:
df_nei = df[[2492,3853,2486,3712,2288,'Movie_Id', 'Movie_title']]

In [170]:
# score = sum(Rn*Wo)/sum(Wo)

In [256]:
df_nei.head()

    2492  3853  2486  3712  2288 Movie_Id             Movie_title     Score
16   5.0   4.0   4.5   5.0   4.0      122   The Lord of the Rings  4.507637
15   4.0   5.0   4.0   5.0   4.0      121   The Lord of the Rings  4.400194
50   4.0   4.5   4.5   5.0   4.0      603       The Matrix (1999)  4.394379
14   3.5   5.0   4.0   5.0   4.0      120   The Lord of the Rings  4.289846
65   3.5   4.0   3.0   5.0   4.0      808            Shrek (2001)  3.871727

In [257]:
# func finding nan values
def nan_function(row):
    for ele in row:
        if ele == 'NaN':
            count += 1
    return count

In [258]:
nan_function(df_nei.iloc[0])

0

In [259]:
df_nei.iloc[0]

2492                              5.0
3853                              4.0
2486                              4.5
3712                              5.0
2288                              4.0
Movie_Id                          122
Movie_title     The Lord of the Rings
Score                        4.507637
Name: 16, dtype: object

In [173]:
weight = []
for rate in top5_neigbors:
    weight.append(rate)

In [244]:
pd.Series(weight)

0    0.476683
1    0.464110
2    0.438992
3    0.400275
4    0.379856
dtype: float64

In [175]:
weight.remove(1)

In [195]:
sum(weight)

2.159915752001419

In [196]:
weight_X_rating = df_nei[[2492,3853,2486,3712,2288]]*weight
weight_X_rating.head()

        2492      3853      2486      3712      2288
16  2.383416  1.856441  1.975462  2.001373  1.519425
15  1.906733  2.320551  1.755966  2.001373  1.519425
50  1.906733  2.088496  1.975462  2.001373  1.519425
14  1.668391  2.320551  1.755966  2.001373  1.519425
65  1.668391  1.856441  1.316975  2.001373  1.519425

In [197]:
#sum(weight_X_rating.iloc[0], skipna = True)/sum(weight)
weight_X_rating.iloc[0].sum(skipna = True)/sum(weight)

4.5076371895479355

In [198]:
def average_weight(df):
    score = []
    for i in range(100):
        score.append(df.iloc[i].sum(skipna = True)/sum(weight))
    return score

In [200]:
df_nei['Score'] = average_weight(weight_X_rating)
df_nei.sort_values(by = 'Score', ascending = False).head(10)

IndexError: single positional indexer is out-of-bounds

In [58]:
df[[3867, 'Movie_title']].sort_values(by = 3867, ascending = False).head(10)

    3867                                        Movie_title
74   5.0                                           Die Hard
14   5.0                              The Lord of the Rings
50   5.0                                  The Matrix (1999)
59   5.0                                Pulp Fiction (1994)
16   5.0                              The Lord of the Rings
15   5.0                              The Lord of the Rings
21   5.0                             The Dark Knight (2008)
61   5.0                              V for Vendetta (2006)
65   5.0                                       Shrek (2001)
9    4.5   Raiders of the Lost Ark (Indiana Jones and th...

In [59]:
df[df['Movie_Id'] == '641']

,1648,5136,918,2824,3867,860,3712,2968,3525,4323,...,2492,5062,2486,4942,2267,4809,3853,2288,Movie_Id,Movie_title
55,NaN,4.5,NaN,NaN,NaN,3.0,NaN,3.0,NaN,5.0,...,NaN,NaN,2.5,4.0,4.0,NaN,NaN,NaN,641,Requiem for a Dream (2000)

In [201]:
# Top Recommendation Movies for user 3712 without normalization

df.head()

,1648,5136,918,2824,3867,860,3712,2968,3525,4323,...,2492,5062,2486,4942,2267,4809,3853,2288,Movie_Id,Movie_title
0,NaN,4.5,5.0,4.5,4.0,4.0,NaN,5.0,4.0,5.0,...,4.5,4.0,3.5,NaN,NaN,NaN,NaN,NaN,11,Star Wars
1,NaN,5.0,5.0,NaN,4.0,4.0,4.5,4.5,4.0,5.0,...,3.5,4.0,2.0,3.5,NaN,NaN,NaN,3.5,12,Finding Nemo (2003)
2,NaN,5.0,4.5,5.0,4.5,4.5,NaN,5.0,4.5,5.0,...,3.5,4.5,4.5,4.0,3.5,4.5,3.5,3.5,13,Forrest Gump (1994)
3,NaN,4.0,NaN,NaN,NaN,NaN,4.5,2.0,3.5,5.0,...,3.5,4.5,3.5,4.0,NaN,3.5,NaN,NaN,14,American Beauty (1999)
4,4.0,5.0,3.0,4.5,4.0,2.5,NaN,5.0,3.0,4.0,...,4.0,4.0,2.5,3.5,NaN,5.0,NaN,3.5,22,Pirates of the Caribbean

In [202]:
neighbor_of_3712 = df.corr()[3712].sort_values(ascending = False).head(6) # top 5 neighbors
neighbor_of_3712 = list(neighbor_of_3712)

In [340]:
weights_3712 = neighbor_of_3712

In [203]:
neighbor_of_3712.remove(1)
sum_weight_3712 = sum(neighbor_of_3712)
sum_weight_3712

1.5316672932021975

In [264]:
df_3712 = df[[2824, 3867, 5062,442, 3853, 'Movie_Id', 'Movie_title']]

In [265]:
df_3712 # replacing Nan by 0

    2824  3867  5062  442  3853 Movie_Id                   Movie_title
0    4.5   4.0   4.0  3.0   NaN       11                     Star Wars
1    NaN   4.0   4.0  NaN   NaN       12           Finding Nemo (2003)
2    5.0   4.5   4.5  3.0   3.5       13           Forrest Gump (1994)
3    NaN   NaN   4.5  4.0   NaN       14        American Beauty (1999)
4    4.5   4.0   4.0  1.0   NaN       22      Pirates of the Caribbean
..   ...   ...   ...  ...   ...      ...                           ...
95   NaN   3.0   3.5  NaN   NaN     9806        The Incredibles (2004)
96   NaN   4.0   2.0  NaN   NaN    10020   Beauty and the Beast (1991)
97   NaN   4.0   4.0  4.0   3.0    36657                  X-Men (2000)
98   NaN   3.5   NaN  4.0   NaN    36658                            X2
99   NaN   3.0   NaN  NaN   NaN    36955              True Lies (1994)

[100 rows x 7 columns]

In [268]:
# func finding nan values
def nan_function(row):
    for ele in row:
        count = 0
        if ele == 'NaN':
            count += 1
    return count

In [278]:
for ele in df_3712.iloc[0]:
    print(ele)
   # if ele == 'NaN':
    #    count += 1
    

count

4.5
4.0
4.0
3.0
nan
11
 Star Wars

0

In [211]:
df_3712_users = df_3712[[2824, 3867,5062,442,3853]]
df_3712_users = df_3712_users

In [234]:
def average_score(data):
    score_3712 = []
    for row in range(100):
        score_3712.append((df_3712_users.iloc[row]*neighbor_of_3712).sum(skipna =True)/sum_weight_3712)
    return score_3712

In [236]:
df_3712['Score'] = average_score(df_3712_users)

<ipython-input-236-831bf8b03b75>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3712['Score'] = average_score(df_3712_users)

In [209]:
df_3712[df_3712['Movie_Id'] == '105']

    2824  3867  5062  442  3853 Movie_Id                 Movie_title  Score
11   NaN   NaN   4.5  5.0   NaN      105   Back to the Future (1985)    NaN

In [238]:
(df_3712_users.iloc[0]*neighbor_of_3712).sum()/sum_weight_3712

3.4970753434799384

In [241]:
df_3712_users.iloc[0].sum()

15.5

In [242]:
df_3712_users.iloc[0]

2824    4.5
3867    4.0
5062    4.0
442     3.0
3853    NaN
Name: 0, dtype: float64

In [280]:
df_3712_users

    2824  3867  5062  442   3853
0    4.5   4.0   4.0   3.0   NaN
1    NaN   4.0   4.0   NaN   NaN
2    5.0   4.5   4.5   3.0   3.5
3    NaN   NaN   4.5   4.0   NaN
4    4.5   4.0   4.0   1.0   NaN
..   ...   ...   ...   ...   ...
95   NaN   3.0   3.5   NaN   NaN
96   NaN   4.0   2.0   NaN   NaN
97   NaN   4.0   4.0   4.0   3.0
98   NaN   3.5   NaN   4.0   NaN
99   NaN   3.0   NaN   NaN   NaN

[100 rows x 5 columns]

In [286]:
for j in range(100):
    for i in range(5):
        count = 0
        if df_3712_users.iloc[j] == 'NaN':
            count += 1

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [285]:
print(count)

0

In [337]:
a = list(df_3712_users.iloc[96])
a

[nan, 4.0, 2.0, nan, nan]

In [342]:
weights_3712

[0.46291004988627577,
 0.4002745042538168,
 0.24769327229404733,
 0.22712986493078843,
 0.1936596018372691]

In [363]:
ind =np.where(np.isnan(a))[0]

ind

array([0, 3, 4], dtype=int64)

pandas.core.frame.DataFrame

In [330]:
a=[1, 2, 3, 4, np.nan, np.nan, 2, np.nan]

ind=[]
ind = np.where(np.isnan(a))[0]
ind

array([4, 5, 7], dtype=int64)

In [319]:
a[4]

nan

In [341]:
weights_3712

[0.46291004988627577,
 0.4002745042538168,
 0.24769327229404733,
 0.22712986493078843,
 0.1936596018372691]